<div class="container">

    <form #userform="ngForm" (ngSubmit)="onsubmit(); userform.reset()" style="box-shadow: 1px 5px 20px lightblue;padding-bottom: 5rem;">

        <h3 class="text-center text-primary mb-5" style="padding-bottom:2rem;padding-top:3rem;">USER LOGIN</h3>

        <div class="row mb-2">
            <div class="form-group col-md-6 mx-auto">
                <label for="#username" class="mb-1">User Email</label>
                <input type="text" class="form-control" id="username" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" required [class.is-valid]="name.valid && name.dirty" pattern="^([a-zA-Z0-9]){1,}@gmail.com$" name="username" [(ngModel)]="userLogin.useremail">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Can have letters,digits and should have minimum length of 1
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="form-group col-md-6 mx-auto">
                <label for="#userpassword" class="mb-1">Password</label>
                <input type="password" class="form-control" id="userpassword" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" required name="userpassword" [(ngModel)]="userLogin.userpassword">
                <div class="invalid-feedback">
                    Required
                </div>
            </div>
        </div>
        <div class="row">
            <button [disabled]="userform.form.invalid" class="btn btn-primary col-3 mx-auto my-3">Login</button>
        </div>
    </form>
</div>